/* ===================
    Footer
   =================== */

#footer {
    background: 
	linear-gradient(135deg, $yellow-color 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, $yellow-color 25%, transparent 25%) -50px 0,
	linear-gradient(315deg, $gold-color 25%, transparent 25%),
	linear-gradient(45deg, $gold-color 25%, transparent 25%);
	background-color: $gold-color;
	background-repeat: repeat-x;
	background-size: 100px 100px;
    padding: 100px 0;
}
