/* ===================
    Header
   =================== */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

#header {
    background-image: 
    radial-gradient(circle at center -10px, rgba(43,191,189,0), rgba(43,191,189,0) 68px, rgba(43,191,189,1) 70px, $lightBlue-color 0),
    radial-gradient(circle at left -10px, $dark-color, $dark-color 70px, transparent 0);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100px 70px;
    border-top: 1px solid $red-color;
    padding-bottom: 70px;
    padding-top: 70px;

    a {
        background-color: $red-color;
        color: $white-color;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        margin: 0;
        padding: 8px 15px;
        text-decoration: none;
        @include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-in);

        &:hover {
            padding-top: 15px;
            text-decoration: none;
        }
    }
    nav {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .nav {
        margin: 0;
    }
    .input--get_url {

        input {
            border: none;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 40px;
            line-height: 1;
            width: 100%;
        }
        .input-container {
            position: relative;
        }
        .loz {
            background-color: rgba(255,255,255,.1);

            &:hover {
                background-color: rgba(255,255,255,.2);
            }
        }
        .text-input {
            background: rgba(255,255,255,.9);
            padding-bottom: .4em;
            padding-top: .5em;
        }
    }
}

#hiddenInput {
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #808080;
    position: absolute;
    opacity: 0.4;
    margin-top: -22px;
    margin-left: -125px;
    opacity: 0;
    filter: alpha(opacity = 0);
}

#input {
    position: absolute;
    margin-top: -20px;
    margin-left: -120px;
}

.letterContainer {
    display: inline;
    white-space: nowrap;
}

.letterStatic {
    display: inline;
}

.letterAnimTop {
    display: inline;
    position: absolute;
    -webkit-animation: dropTop .1s ease;
    -moz-animation: dropTop .1s ease;
}

.letterAnimBottom {
    display: inline;
    position: absolute;
    -webkit-animation: dropBottom .1s ease;
    -moz-animation: dropBottom .1s ease;
}

.blink {
    position: static;
    top: -5px;
    -webkit-animation: blink 0.3s ease 0 infinite alternate;
    -moz-animation: blink 0.3s ease 0 infinite alternate;
}

@-moz-keyframes blink {
    from { opacity: 0 }
    to { opactiy: 1 }
}

@-webkit-keyframes blink {
    from { opacity: 0 }
    to { opactiy: 1 }
}

@-moz-keyframes dropTop {
    from {
        -moz-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
        transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
    }

    to {
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
    }
}

@-moz-keyframes dropBottom {
    from {
        -moz-transform: translateY(20px) translateZ(20px) rotateX(-90deg);
        transform: translateY(20px) translateZ(20px) rotateX(-90deg);
    }

    to {
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@-webkit-keyframes dropTop {
    from { -webkit-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg); }
    to { -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg); }
}

@-webkit-keyframes dropBottom {
    from { -webkit-transform: translateY(20px) translateZ(20px) rotateX(-90deg); }
    to { -webkit-transform: rotateX(0deg); }
}
